<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace = "fragments :: head">
</head>
<body>
<div th:replace = "fragments :: navbar"></div>

<div class="container">
    <div class="row">
        <div th:each="post : ${posts}" class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title font-weight-bold" th:text="${post.title}"></h5>
                    <p class="card-text text-muted" th:text="${#strings.substring(post.body, 0, 50)} + '...'"></p>
                    <a th:href="@{'post/postDetail/' + ${post.id}}" class="btn btn-sm btn-primary">Read More</a>
                    <p class="text-muted mt-2" th:text="${post.user.username}"></p>
                </div>
            </div>
        </div>
    </div>
</div>



</body>
</html>