<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace = "fragments :: head"></head>
<body>
<div th:replace = "fragments :: navbar"></div>

<p th:text = "${post.body}"></p>

<div class = "likeSection" id="likeButtonDiv">
    <div class="likeButton" th:if = "${hasUserLikedThePost == true}"><button  id="dislikeButton" th:data-postId="${post.id}">-Dislike</button></div>
    <div class="dislikeButton" th:if = "${hasUserLikedThePost == false}"><button  id="likeButton" th:data-postId="${post.id}">+Like</button></div>
    <p class="mesaj"></p>
</div>

</body>
<script th:src="@{/scripts.js}">

</script>
</html>

